<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger">Error:{{error.message}}</h5>
    <p class="font-weight-bold ">Note: If you seeing this the server has crashed, you are to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request</li>
        <li>Examine the URL</li>
        <li>Call your admin or reproduce the error in postman if you are admin.</li>
    </ol>
    <p class="font-weight-bold ">Following is the stack trace- check the first 2 lines to see what the problem is </p>
    <code class="mt-5" style="background-color:whitesmoke;">
        {{error.details}}
    </code>

}